input {
    margin-right: 2em;
    margin-left: 0.5em;
}

select {
    margin-right: 2em;
    margin-left: 0.5em;
}

button {
    margin-top: 2em;
    margin-bottom: 5em;
}

.image{
    height: 15em;
}